@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.h-screen {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

.tall-lines {
  line-height: 3.5rem;
}

.max-w-small {
  max-width: 90%;
}

.w-34 {
  width: 8.5rem;
}

.max-top {
  top: 190vh;
  height: 30000px;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.grid-span-2 {
  grid-column: span 2;
}

.max-w-3-1xl {
  max-width: 50rem;
}

/* TODO: Fix issue with last cards disappearing on modal open */

/* .grid-span-2:last-child:nth-child(3n - 1) {
  grid-column-end: -2;
}

.grid-span-2:nth-last-child(2):nth-child(3n + 1) {
  grid-column-end: 4;
}

.grid-span-2:last-child:nth-child(3n - 2) {
  grid-column-end: 5;
} */

@media only screen and (max-width: 325px)  {
  .small-text {
    font-size: 1.75rem !important;
  }
}

.scroll-down-dude:before,
.scroll-down-dude:after {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  border-bottom: 4px solid #edf5e1;
  border-right: 4px solid #edf5e1;
}

.scroll-down-dude:before {
  animation: down-arrow-before 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

.scroll-down-dude:after {
  animation: down-arrow-after 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@keyframes down-arrow-before {
  50% {
    transform: rotate(45deg) translate(70%, 70%);
  }
  100% {
    transform: rotate(45deg) translate(70%, 70%);
  }
}

@keyframes down-arrow-after {
  50% {
    transform: rotate(45deg) translate(110%, 110%);
    opacity: 0;
  }
  51% {
    transform: rotate(45deg) translate(-130%, -130%);
  }
  100% {
    transform: rotate(45deg) translate(-70%, -70%);
    opacity: 1;
  }
}